.gh-addressbook ul {
    margin: 0;
    padding: 0;
}
.gh-addressbook li {
    list-style: none;
    display: block;
    float: left;
    margin: 0.3em;
}

.gh-user {
    margin: 0;
    padding: 0.2em;
    width: 13em;
    height: 9em;
    border: 1px solid #666;
    border-radius: 0.2em;
}
